@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Red+Hat+Mono:wght@500&family=Roboto+Condensed&display=swap");
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Nunito", sans-serif;
    font-family: "Red Hat Mono", monospace;
    font-family: "Roboto Condensed", sans-serif;
}

.header,
.sidebar {
    padding: 1em;
    margin: 0;
    box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.5);
    background: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: white;
    width: 5%;
    height: fit-content;
}

.sidebar a {
    padding: 1vh;
    text-decoration: none;
    border-radius: 0.5em;
}

input[type="text"] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: right;
}

.right {
    float: right;
}